@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  html {
    font-family: 'new-zen', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  ol,
  ul,
  menu {
    list-style: disc;
    margin: 1rem 0;
    padding: 0 1rem;
  };
  h1,
  h2,
  h3 {
    padding: 4px 0;
  }
}

@layer components {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  a {
    @apply text-[#CBAACB] hover:text-[#9400D3];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 59, 57, 56;
    --background-end-rgb: 59, 57, 56;
  }
}